/**********************************tag css********************************/
h1{
  color: red;
}

body{
  text-align: center;
  margin: 0;
}

/*********************************Class css******************************/
.heading{
  margin: 0px;
}

/*********************************id css*********************************/
#heading{
  margin: 50%;
}
